body {
    font-family: Arial;
    background-color: #eef2f7;
    padding: 20px;
}

form {
    width: 350px;
    background: white;
    padding: 20px;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 8px;
}

table {
    margin-top: 20px;
    background: white;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}
